/* Defaults
   ========================================================================== */

body,
html {
  box-sizing: border-box;
  line-height: ($base-grid * 2);
  font-family: $font-family-sans;
  color: $text-color;
  margin: 0;
}

body {
  font-size: $base-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
